@import "tailwindcss";
@theme {
  --font-primary: "Host Grotesk", sans-serif;
  --font-secondary: "GeneralSans", sans-serif;
  --animate-slide: slide 3s linear infinite;
  @keyframes slide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
*::-webkit-scrollbar {
  display: none;
}
.NavLinks {
  @apply p-1 px-3;
}
.navSpacial {
  @apply px-3;
}
.activeNav {
  @apply bg-white text-black rounded-full p-1 px-3;
}
.word3 {
  text-decoration: underline;
}
.word1 {
  @apply pl-28;
}
#circle {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 1) 100%);
}
.ProjectWord14 {
  @apply decoration-2 underline hover:decoration-blue-600;
}
body {
  cursor: url("./cursor/normal.svg"), auto;
}
a,
button,
.picProject,
.text-link,
[role="button"],
.noPic,
.clickable {
  cursor: url("./cursor/cursor-pointer.svg"), pointer;
}
.text-link {
  @apply hover:text-blue-500;
}
