@import "tailwindcss";
@theme {
  --font-primary: "Host Grotesk", sans-serif;
  --font-secondary: "GeneralSans", sans-serif;
  --animate-slide: slide 3s linear infinite;
  @keyframes slide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
.trims-text {
  text-box-trim: trim-start;
  text-box-edge: cap alphabetic;

  color: #ffffffe4;
}
*::-webkit-scrollbar {
  display: none;
}
.NavLinks {
  @apply p-1 px-3;
}
.navSpacial {
  @apply px-3;
}
.activeNav {
  @apply bg-white text-black rounded-full p-1 px-3;
}
.word3 {
  text-decoration: underline;
}
.word1 {
  @apply pl-28;
}
